[Desktop Entry]
Encoding=UTF-8
Name=MKTcoin Core
Comment=Connect to the MKTcoin P2P Network
Comment[de]=Verbinde mit dem MKTcoin peer-to-peer Netzwerk
Comment[fr]=MKTcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=MKTcoin, eşten eşe kriptografik sanal para birimi
Exec=mktcoin-qt %u
Terminal=false
Type=Application
Icon=mktcoin128
MimeType=x-scheme-handler/mktcoin;
Categories=Office;Finance;
